@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./img/background.png");
    background-color: black;
    background-size: cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    opacity:0.85;
}

#timer {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
}

#game {
    width: 500px;
    height: 200px;
    border: 2px solid black;
    margin-top: 5%;
    background-color: white;
}

#character {
    width: 50px;
    height: 50px;
    position: relative;
    top: 150px;
}

.animate {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0%{top:150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block {
    width: 30px;
    height: 30px;
    position: relative;
    top: 150px;
    left: 480px;
    animation: block 1s infinite linear;
}

@keyframes block {
    0%{left:480px;}
    100%{left:-62px;}
}